* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  --bg-color: #fff;
  --text-color: #222327;
  --main-color: #4e99e9;
}

body {
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  margin-top: 50px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
/*social media links*/

.wrapper {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

.icon {
  color: #000;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  bottom: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  top: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  bottom: -35px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}

.wrapper .whatsapp:hover,
.wrapper .whatsapp:hover .tooltip,
.wrapper .whatsapp:hover .tooltip::before {
  background: #25d366;
  color: #fff;
}

/* typewriter effect call us now */
.typewriter h1 {
  font-size: 15px;
  color: #000000;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid rgb(0, 0, 0); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(0, 0, 0);
  }
}

/*search bar*/
.search {
  display: inline-block;
  position: relative;
}

.search input[type="text"] {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search button[type="submit"] {
  background-color: #4e99e9;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.9s ease;
}

.search button[type="submit"]:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  background-color: #0000ff;
}

/* navbar */

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-img {
  width: 80px;
}

.logo-txt {
  font-size: 30px;
  color: #000;
}

/* .navigation {
    display: flex;
  }
  
  .navigation a {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    position: 5px 0;
    margin: 0px 20px;
    transition: all 0.5s ease;
  }
  
  .navigation a:hover {
    color: var(--main-color);
  }
  
  .navigation a.active {
    color: var(--main-color);
  } */

.tabs {
  display: flex;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15),
    0 6px 12px 0 rgba(24, 94, 224, 0.15);
  padding: 0.75rem;
  border-radius: 99px;
}

.tabs * {
  z-index: 2;
}

.container input[type="radio"] {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100px;
  font-size: 0.8rem;
  color: black;
  font-weight: 500;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in;
}
.tab a {
  text-decoration: none;
  color: black;
}

.container input[type="radio"]:checked + label {
  color: var(--main-color);
}

.container input[type="radio"]:checked + label > .notification {
  background-color: var(--main-color);
  color: #fff;
  margin: 0px;
}

.container input[id="radio-1"]:checked ~ .glider {
  transform: translateX(0);
}

.container input[id="radio-2"]:checked ~ .glider {
  transform: translateX(100%);
}

.container input[id="radio-3"]:checked ~ .glider {
  transform: translateX(200%);
}

.container input[id="radio-4"]:checked ~ .glider {
  transform: translateX(300%);
}

.glider {
  position: absolute;
  display: flex;
  height: 30px;
  width: 100px;
  background-color: #e6eef9;
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
}

@media (max-width: 700px) {
  .tabs {
    transform: scale(0.6);
  }
}

#menu-icon {
  font-size: 35px;
  color: var(--text-color);
  cursor: pointer;
  z-index: 10001;
  display: none;
}

/* nav button */

.main {
  display: flex;
  align-items: center;
}

#shop-now {
  margin: 0px 05px;
  font-size: 1rem;
  background: var(--bg-color);
  border: 1px solid var(--main-color);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: var(--main-color);
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

#shop-now:hover,
#shop-now:active {
  background-color: var(--main-color);
  background-position: 0 0;
  color: var(--bg-color);
}

button:active {
  opacity: 0.5;
}

/* contact us */
body {
  color: #fff;
}

.contact_us {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}
.container1{
  width: 60%;
  margin-top: 80px;
  margin-bottom: 80px;
  }

.contact_inner {
  background-color: #fff;
  position: relative;
  box-shadow: 20px 22px 44px #cccc;
  border-radius: 25px;
}
.contact_field {
  padding: 60px 340px 90px 100px;
  display: flex;
  flex-direction: column;
}
.right_conatct_social_icon {
  height: 100%;
}

.contact_field h3 {
  color: #000;
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact_field p {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 35px;
}
.contact_field .form-control {
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-top: 30px;
  margin-right: 30px;
}
.contact_field .form-control:focus {
  box-shadow: none;
  outline: none;
  border-bottom: 2px solid #1325e8;
}
.contact_field .form-control::placeholder {
  font-size: 13px;
  letter-spacing: 1px;
}

.contact_info_sec {
  position: absolute;
  background-color: #2d2d2d;
  right: 1px;
  top: 18%;
  height: 340px;
  width: 340px;
  padding: 40px;
  border-radius: 25px 0 0 25px;
}
.contact_info_sec h4 {
  letter-spacing: 1px;
  padding-bottom: 15px;
}

.info_single {
  margin: 30px 0px;
}
.info_single i {
  margin-right: 15px;
}
.info_single span {
  font-size: 14px;
  letter-spacing: 1px;
}

button.contact_form_submit {
  background: linear-gradient(to top right, #4e99e9 -5%, #6d76db 100%);
  border: none;
  color: #fff;
  padding: 10px 15px;
  width: 100px;
  margin-top: 25px;
  border-radius: 35px;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 2px;
}

.map_sec {
  padding: 50px 300px;
}
.map_inner h4,
.map_inner p {
  color: #000;
  text-align: center;
}

.map_inner h4 {
  font-size: 50px;
}

.map_inner p {
  font-size: 20px;
}
.map_bind {
  margin-top: 50px;
  border-radius: 30px;
  overflow: hidden;
}
/*footer*/

.footerr {
  margin-top: 130px;
}

.logo1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo1 i {
  color: var(--main-color);
  font-size: 28px;
  margin-right: 3px;
}

.logo1 span {
  color: var(--bg-color);
  font-size: 1.7rem;
  font-weight: 600;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #1e1c1b;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer__head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-heading {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  color: #ffffff;
  margin-bottom: 10px;
  margin-left: 40px;
}

.footer-heading h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 48px;
}
.footer__details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 75%;
  color: #ffffff;
  margin-bottom: 50px;
  margin-top: 30px;
}
.middle__box {
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
}
.details__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details__box div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__bottom {
  background: #1e1e1e;
  width: 100%;
  display: flex;
  color: #999999;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.footer__bottom span {
  display: inline-block;
  margin-left: 40px;
  margin-right: 40px;
}
.details__box span {
  margin-top: 10px;
}

.footer a {
  color: var(--bg-color);
  font-size: 1rem;
  font-weight: 500;
  position: 5px 0;
  margin: 0px 20px;
  transition: all 0.5s ease;
}

.footer a:hover {
  color: var(--main-color);
}

.footer__bottom a {
  color: var(--bg-color);
  font-size: 1rem;
  font-weight: 500;
  position: 5px 0;
  margin: 0px 20px;
  transition: all 0.5s ease;
}

.footer__bottom a:hover {
  color: var(--main-color);
}

.footer li {
  line-height: 30px;
}

/*footer end*/



.info_sec_1{
  display: none;
}