@media only screen and (max-width: 600px) {
  .logo-img {
    width: 50px;
  }
  .logo-txt {
    font-size: 20px;
  }
  .main #shop-now {
    display: none;
  }
  .wrapper1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contactpic {
    width: 100%;
  }
  .text-box2 {
    margin-left: 0;
    margin-right: 0;
    width: 90%;
  }
  .input {
    width: 80%;
  }
  .social {
    display: none;
  }
  #searchForm {
    display: none;
  }
  .search2 {
    display: block !important;
  }
  .search input[type="text"] {
    width: 200px;
    height: 30px;
    padding: 5px;
  }
  .search button[type="submit"] {
    padding: 5px 10px;
    height: 30px;
  }
  .tabs {
    display: none;
  }
  .menu {
    display: block;
    margin-right: 15px;
  }
  .menu .icon {
    color: black;
  }
  .responsive {
    position: fixed;
    display: flex !important;
    flex-direction: column;
    top: 70px;
    right: 0;
    height: 50%;
    width: 70%;
    background: transparent;
    z-index: 9999;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 10px;
    padding-bottom: 0px;
    border-radius: 20px;
    backdrop-filter: blur(4px);
  }
  .responsive a {
    margin-left: 35px;
    text-decoration: none;
    color: black;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
  }
  .responsive a {
    background: #ffffff;
  }

  .active1 {
    background: #4e99e9 !important;
  }
  .content1 {
    top: 120px;
    left: 30px;
  }
  .hero-heading {
    font-size: 35px;
  }
  .hero-para {
    color: white;
    width: 70%;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
    line-height: 14px;
    text-shadow: 2px 2px 10px black;
  }
  .hero-button {
    margin-left: 0 !important;
  }
  .hero {
    overflow-x: hidden;
  }
  #myVideo {
    width: 150%;
    height: auto;
    overflow-x: hidden;
  }
  .feature-categories {
    width: 100%;
  }
  .feature-text {
    margin-bottom: 0;
    margin-left: 15px;
    font-size: 30px;
  }
  .all-categories {
    margin-top: 40px;
  }
  .categories {
    overflow: scroll;
    justify-content: flex-start;
    padding: 20px;
    padding-left: 10px;
    padding-bottom: 40px;
  }
  .categories::-webkit-scrollbar {
    display: none;
  }
  .text-box1 {
    min-width: 120px;
  }
  .heavy-categories {
    font-size: 14px;
  }
  .all-products {
    margin-top: 10px;
  }
  .product-text {
    margin-left: 15px;
    font-size: 30px;
  }
  .products {
    overflow: scroll;
    padding: 0;
    justify-content: flex-start;
    padding: 13px !important;
    padding-bottom: 40px !important;
    margin-top: 0;
  }
  .products::-webkit-scrollbar {
    display: none;
  }
  .product {
    min-width: 150px;
    height: 100%;
    max-width: 170px;
  }
  .description {
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 12px;
    line-height: normal !important;
  }
  .product img {
    height: auto;
    max-height: 170px;
  }
  .product .title {
    font-size: 14px !important;
  }
  .trusted {
    margin-top: 20px;
  }
  .product .cart {
    padding: 5px;
  }
  .trusted-row {
    margin: 10px;
  }
  .trusted-row h2 {
    font-size: 14px;
    width: 20%;
  }
  .about {
    margin-top: 40px;
  }

  .about-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-logo-img {
    width: 150px;
  }
  .about-logo-txt {
    font-size: 36px;
  }

  .about-logo-txt1 {
    font-size: 36px;
  }

  .about-heading {
    font-size: 25px;
  }

  .about-para {
    line-height: 20px;
  }

  .testi-heading {
    font-size: 25px;
  }

  .testi-para {
    font-size: 16px;
    line-height: 20px;
  }
  .about-us1 {
    flex-direction: column;
  }
  .about-section {
    margin: 0;
    margin-top: 30px;
  }
  .testimonial {
    margin: 0;
    margin-left: 20px;
    margin-top: 100px;
    grid-template-columns: auto;
  }
  .testimonials {
    padding-left: 0;
  }
  .testimonial-main {
    min-width: 200px;
  }
  .testimony-para {
    font-size: 13px;
  }
  .testimony-name {
    font-size: 20px;
  }
  .faq {
    margin-top: 0;
    font-size: 36px;
  }
  article {
    width: 90%;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer {
    flex-direction: column;
  }
  .details__box h1 {
    font-size: 20px;
    margin-right: 25px;
  }
  .servicess li a {
    font-size: 14px;
  }
  .about-us li a {
    font-size: 14px;
  }
  .footer__details {
    grid-template-columns: 1fr;
  }
  .middle__box {
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    border-left: 0;
    border-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .footer__bottom span {
    font-size: 12px;
    margin: 2px;
  }
  .footer__bottom span a {
    font-size: 8px;
  }
  section ul {
    overflow-x: scroll;
    padding-bottom: 5px;
  }
  section ul::-webkit-scrollbar {
    display: none;
  }
  .list {
    padding: 0 5px;
    line-height: 13px;
    font-size: 12px;
  }
  .vission {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 36px;
  }

  .mission {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 36px;
  }

  .core-team {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 36px;
  }

  .contact_field {
    padding: 50px 0;
  }
  .map_sec {
    padding: 50px 0;
  }
  .map_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .map_inner h4 {
    font-size: 36px;
  }
  .map_bind {
    width: 90%;
    height: 10%;
  }
  .container1 {
    width: 90%;
  }
  .contact_field {
    padding-left: 15px;
    padding-right: 0;
  }

  .contact_field h3 {
    font-size: 36px;
  }

  .contact_info_sec {
    display: none;
  }
  .info_sec_1 {
    display: block;
    position: relative;
    width: 100%;
    padding: 20px;
    height: fit-content;
  }
  .info_single {
    margin: 10px 0;
  }

  .footer-heading {
    width: 80%;
    margin-left: 40px;
    margin-right: 40px;
  }

  .typewriter h1 {
    margin-top: 10px;
  }

  #shop-now {
    font-size: 12px;
    padding: 6px 6px;
    min-height: 0px;
  }
}
