* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  --bg-color: #fff;
  --text-color: #222327;
  --main-color: #4e99e9;
}

body {
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  margin-top: 100px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
/*social media links*/

.wrapper {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  bottom: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  top: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  bottom: -35px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}

.wrapper .whatsapp:hover,
.wrapper .whatsapp:hover .tooltip,
.wrapper .whatsapp:hover .tooltip::before {
  background: #25d366;
  color: #fff;
}

/* typewriter effect call us now */
.typewriter h1 {
  font-size: 15px;
  color: #000000;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid rgb(0, 0, 0); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(0, 0, 0);
  }
}

/*search bar*/
.search {
  display: inline-block;
  position: relative;
}

.search input[type="text"] {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search button[type="submit"] {
  background-color: #4e99e9;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.9s ease;
}

.search button[type="submit"]:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  background-color: #0000ff;
}

/* navbar */

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-img {
  width: 80px;
}

.logo-txt {
  font-size: 30px;
}

/* .navigation {
  display: flex;
}

.navigation a {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 500;
  position: 5px 0;
  margin: 0px 20px;
  transition: all 0.5s ease;
}

.navigation a:hover {
  color: var(--main-color);
}

.navigation a.active {
  color: var(--main-color);
} */

/* Hero Section */

#myVideo{
  width: 100%;
  height: auto;
}
.content {
  position: absolute;
  z-index: 99;
  top: 280px;
  left: 100px;

}
.hero-heading{
  color: white;
  font-size: 70px;
  text-shadow: 5px 5px 10px black;
}
.hero-para{
  color: white;
  width: 40%;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 50px;
  line-height: 30px;
  text-shadow: 2px 2px 10px black;
}
.hero-button{
  margin-left: 40px !important;
}




.tabs {
  display: flex;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15),
    0 6px 12px 0 rgba(24, 94, 224, 0.15);
  padding: 0.75rem;
  border-radius: 99px;
}

.tabs * {
  z-index: 2;
}

.container input[type="radio"] {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100px;
  font-size: 0.8rem;
  color: black;
  font-weight: 500;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in;
}

.container input[type="radio"]:checked + label {
  color: var(--main-color);
}

.container input[type="radio"]:checked + label > .notification {
  background-color: var(--main-color);
  color: #fff;
  margin: 0px;
}

.container input[id="radio-1"]:checked ~ .glider {
  transform: translateX(0);
}

.container input[id="radio-2"]:checked ~ .glider {
  transform: translateX(100%);
}

.container input[id="radio-3"]:checked ~ .glider {
  transform: translateX(200%);
}

.container input[id="radio-4"]:checked ~ .glider {
  transform: translateX(300%);
}

.glider {
  position: absolute;
  display: flex;
  height: 30px;
  width: 100px;
  background-color: #e6eef9;
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
}

@media (max-width: 700px) {
  .tabs {
    transform: scale(0.6);
  }
}

#menu-icon {
  font-size: 35px;
  color: var(--text-color);
  cursor: pointer;
  z-index: 10001;
  display: none;
}

/* nav button */

.main {
  display: flex;
  align-items: center;
}

#shop-now {
  margin: 0px 05px;
  font-size: 1rem;
  background: var(--bg-color);
  border: 1px solid var(--main-color);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: var(--main-color);
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

#shop-now:hover,
#shop-now:active {
  background-color: var(--main-color);
  background-position: 0 0;
  color: var(--bg-color);
}

button:active {
  opacity: 0.5;
}

.beyond {
  color: var(--main-color);
}

/* feature products */

.products {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-box1 {
  position: relative;
  text-align: center;
  box-sizing: border-box;
  width: 500px;
  height: 320px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  color: black;
  margin-left: 30px;
}

.heavy {
  width: 450px;
  height: 300px;
  border-radius: 17px;
}

.heavy-product {
  position: absolute;
  bottom: 20px;
}

.products {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* about us */
.about-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-logo-img {
  width: 250px;
}

.about-logo-txt {
  font-size: 50px;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us {
  display: flex;
  flex-direction: row;
}

.core-team {
  display: inline-block;
  margin: 30px 6%;
  font-size: 50px;
  color: #606060;
}

/*core team*/
.card {
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  margin: 30px 1%;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  color: black;
}

.core-members {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(30px);
}

.card img {
  width: 270px;

  position: absolute;
  z-index: 3;
  transition: 0.5s;
  border-radius: 17px;
}

.card:hover img {
  scale: 0.5;
  transform: translateY(-70px);
}

.card .content {
  position: absolute;
  z-index: 3;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(0);
  transition: 0.5s;
}

.card:hover .content {
  transform: scale(1);
  bottom: 25px;
}

.content .title {
  position: relative;
  color: var(--text-color);
  font-weight: 500;
  line-height: 1em;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
}

.content .title span {
  font-weight: 300;
  font-size: 0.7em;
}
